spring:
  datasource:
    url: jdbc:postgresql://ep-crimson-leaf-a1ao1472-pooler.ap-southeast-1.aws.neon.tech/ziganya?sslmode=require&channel_binding=require
    driver-class-name: org.postgresql.Driver
    username: neondb_owner
    password: npg_GflbkOC6j4uL
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: false